# Application configuration for main environment  
server:
  port: 8081
  
spring:
  application:
    name: sentinel-notifier

  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: sentinel-notifier
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        '[spring.json.value.default.type]': com.jhernandez.sentinel.notifier.infrastructure.adapter.in.dto.IncidentReportedIntegrationEvent
        '[spring.json.trusted.packages]': "com.jhernandez.sentinel.*"
    listener:
      missing-topics-fatal: false
notifier:
  kafka:
    group-id: sentinel-notifier
    topics:
      incident-reported: sentinel.incident.reported
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
  info:
    build:
      enabled: true
    env:
      enabled: true
info:
  app:
    name: Sentinel Notifier
    description: Background Kafka consumer for incident notifications
